@media (min-width:1000px) {
    .form input[type="text"],
    .form input[type="radio"],
    .form input[type="date"],
    .form input[type="textArea"],
    .form input[type="submit"] {
        display: block;
        width: 100%;
        max-width: 1000px;
    }

    #productName{
        display: block;
        width: 100%;
        max-width: 1000px;
    }

}