@media (min-width:1000px) {
    h1 {
        font-size: 2.5rem;
        margin-left: 0;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navigation ul {
        display: flex;
        gap: 1rem;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .navigation a {
        color: #dad7cd;
    }

    .fauna {
        grid-template-columns: repeat(3, 1fr);
    }
    img{
        width:80%;
        height:400px;
    }

}