:root {
    --primary-color: #344e41;
    --secondary-color: #dad7cd;
}

body {
    background-color: #dad7cd;
    font-family: "Roboto";
}

section {
    border: 1px solid black;
    margin: 1rem;
    background-color: #e5e6e4;
    box-shadow: 0 0 30px gray;
}

p{
    margin: 1rem 4rem;
    justify-content:flex-start;
}

h1 {
    text-align: center;
    font-family: "Cinzel";
    color: #344e41;
}

h2 {
    font-family: "Cinzel";
    color: #344e41;
    font-size: 2rem;
}

.navigation{
    background-color: #344e41;
    padding: .8rem;
    font-size: 1.1em;
}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
}

.fauna {
    max-width: auto;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
}

img {
    max-width:100%;
    height: 200px;
    margin: .5rem;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 30px gray;
}

figcaption {
    font-size: smaller;
    color: #000000;
    text-align: center;
}

footer {
    text-align: center;
    color: #dad7cd;
    background-color: #344e41;
    font-family: "Cinzel";
}

#menu{
    float:right;
}

#menu::before {
    content: "☰";
    color: #230c33;
}

#menu.open::before {
    content: "❌";
}

.navigation a:hover,
.navigation a:active {
    background-color: #bbb;
    color: #333;
}
.navigation {
    display: none;
}

.navigation.open {
    display: block;
}

.label{
    color:#344e41;
    font-style: italic;
    font-weight: bold;
}

.optional {
    color: #800f2f;
}

.form input[type="text"],
.form input[type="textArea"] {
    display: block;
    width: 100%;
}
#productName {
    display: block;
    width: 100%;
}

.form input[type="submit"] {
    width: 100%;
    padding: .8rem;
    border-radius: 6px;
    border: none;
    background-image: linear-gradient(#4f7763, #344e41);
    color: #dad7cd;
    font-size:1rem;
}

h3{
    font-family: "Cinzel";
    color: #dad7cd;
    font-size: 1.5rem;
    text-align: center;
    background-image: linear-gradient(#4f7763, #344e41);
}